<!--<ion-header>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button icon-only color="royal">
         
        </button>
      </ion-buttons>
      <ion-title>Send To...</ion-title>
      <ion-buttons end>
        <button ion-button icon-only color="royal">
          <ion-icon name="person-add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content><span>{{watsonResponse}}</span></ion-content>
  
  <ion-footer>
    <ion-toolbar>
      <ion-input type="text" id="userInput" name="userInput" [(ngModel)]="userInput" ></ion-input>
      <ion-buttons end>
        <button ion-button icon-right color="royal"  (click)="send()">
          Send
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>-->

  <ion-header class="chart_header_wrp">
    <ion-title class="name">FinBot Admin</ion-title>
    <div class="chat_back" (click)="goHome()">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </div>
  </ion-header>

  <ion-content class="chat_wrp">
    <ion-grid class="chat_cnt_wrp">
      <ion-row>
          <ion-col *ngIf="watsonResponse" col-12>
              <div class="admin_chat">
                <p>{{watsonResponse}}</p>
              </div>
          </ion-col>
          <ion-col *ngIf="userInput" col-12>
              <div class="user_chat">
                <p>{{userInput}}</p>
              </div>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

<ion-footer class="ios_chat_footer_wrp" showWhen="ios">
  <ion-toolbar>   
    <ion-input type="text" id="userInput" name="userInput" [(ngModel)]="userInput" ></ion-input>
    <ion-buttons end>
      <button ion-button icon-center class="send_button" (click)="send()">
       <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

<ion-footer class="android_chat_footer_wrp" showWhen="android">
  <ion-toolbar>   
    <ion-input type="text" id="userInput" name="userInput" [(ngModel)]="userInput" ></ion-input>
    <ion-buttons end>
      <button ion-button icon-center class="send_button" (click)="send()">
       <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>